body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    background-color: plum;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  
}
nav{
    display: inline-block;
    width: 100%;
    background-color: purple; 
    padding:25px 0 25px 25px;
    text-decoration: none;
}
p{
    float: right;
    margin-right: 50px;
    font-size: 25px;
    color: white;
}
h1{
    text-align: center;
    padding: 45px 0 0 0 ;
}
.workers button{
    font-size: 25px;
    float: left;
    background: none;
    border: none;
    color: white;
    padding: 0 10px 0 0 ;

}
.projects button{
    font-size: 25px;
    float: left;
    background: none;
    border: none;
    color: white;
    padding: 0 0 0 10px ;

}
.projects button:hover{
    color: red;
    cursor: pointer;
}
.workers button:hover{
    color: red;
    cursor: pointer;

}
.jtabl{
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;  
    font-size: 25px;
}

th, td {
    line-height: 40px;
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
    text-align: center;
    text-decoration: none; 
    color: white;
}
th{
    color: palevioletred;
}
.actio{
    float:left;
    

}
td.actbtn{
    width: fit-content;
    display: inline-block;
    color: white;
}
.del{
    float:left;
    padding: 10px 0 10px 0;

}
.upd{
    display: inline-block;
    padding: 10px 0 10px 0;
}
.addproject{
text-align: center;
padding: 25px;
}
.addworker{
    text-align: center;
    padding: 25px;
}
.wUpdate{
    text-align: center;
    padding: 25px;
}
.pUpdate{
    text-align: center;
    padding: 25px;
}
.footer{
    width: 100%;
    height: 19vh;
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
}
p2{
    float: left;
    margin-left: 50px;
    font-weight: ;
}
p3{
    float: right;
    margin-right: 50px;
}
